
/*==colors==*/
:root{
    --color-green:#31c48d;
    --color-white:#ffffff;
    --color-dark-grey:#33333d;
    --color-medium-grey:#424250;
    --color-light-grey:#d2d6dc;
}


/*==whitespace==*/
*{
    box-sizing: border-box;
}

/*==html==*/
html{
    height:100vh;
}

/*==body==*/
body{
    margin: 0;
    background:var(--color-medium-grey);
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}
/*==header==*/
.header{
    text-align: center;
}

.header_title{
    font-size: 2rem;
    font-weight: 900;
}

/*==controls==*/
.controls{
    background-color: blue;
}

/*==counter==*/
.counter{
background-color: var(--color-dark-grey);
}

/*==counter_value==*/
.counter_value{
    width:100%;
    height:15rem;
    text-align: center;
    font-size: 8rem; /*==increasefontsize==*/
    font-weight: 900;
    background: none;
    color: var(--color-white);
    border-width: 0;
    border-bottom: 1px solid var(--color-light-grey);
}
/*==counter_actions==*/
.counter_actions{
    display: flex; /*==stylingbuttons==*/
}

/*==counter_actions==*/
.counter_button{
    background: none;
    width:50%;
    border-width:0;
    font-size: 3rem;
    color: var(--color-light-grey);
    height: 10rem;
    border-bottom: 1px solid var(--color-light-grey);
}

/*==active state on my buttons==*/
.counter_button:active{
    background: var(--color-medium-grey);
}

.counter_buttons_first{
border-right:1px solid var(--color-light-grey);
}

/*==footer==*/
.footer{
    background: var(--color-dark-grey);
    color: var(--color-light-grey);
}

/*==footerlink==*/
.footer_link{
    color: var(--color-white);
}